/*-------------------------------------------------*/
/* THEME COLOR                                     */
/*-------------------------------------------------*/
.topbar, 
#subheader .subtitle h1 span, 
.button span,
.copyright, 
.widget-title span,
table.fancy_table th,
.ui-widget-header, 
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
background-color:
}

a,
a:focus,
a:visited,
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, 
.sf-menu a:active,
.sf-menu li li:hover, .sf-menu li li.sfHover,
.sf-menu li li a:focus, .sf-menu li li a:hover, 
.sf-menu li li a:active,
.sf-menu li.current-cat > a, 
.sf-menu li.current_page_item > a,
.doctors .doctor-title {
	color:
	}

.topbar, #subheader, #footer {
border-color:
}
/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/
body {
	
	}

.bodyoverlay {
	background-image:url(../images/patterns/pattern2.png);
}
/*-------------------------------------------------*/
/* B O D Y                                         */
/*-------------------------------------------------*/
body {
	font-family:Arial; font-size:14px; color:#2F2F2F; line-height:21px; font-style:normal; font-variant:normal;
}
/*-------------------------------------------------*/
/* F E A T U R E D   S L I D E R                   */
/*-------------------------------------------------*/
#featured_slider { 
	
	}
/*-------------------------------------------------*/
/* S U B H E A D E R                               */
/*-------------------------------------------------*/
#subheader {
	
	padding-top:3pxpx;
	padding-bottom:3pxpx;
}

#subheader .subtitle h1 span {
	background-color:#595C5F;
}

/*-------------------------------------------------*/
/* L O G O                                         */
/*-------------------------------------------------*/
h1#site-title a{
	     
}

h2#site-description {
	     
}
.logo {
	
	
}

/*-------------------------------------------------*/
/* S T I C K Y                                         */
/*-------------------------------------------------*/
#sticky { 
	
}
/*-------------------------------------------------*/
/* T O P M E N U                                   */
/*-------------------------------------------------*/
.topbar ul.sf-menu a {
	     
}
/* Link Hover Color   */
.topbar .sf-menu li:hover, 
.topbar .sf-menu li.sfHover,
.topbar .sf-menu a:focus, 
.topbar .sf-menu a:hover, 
.topbar .sf-menu a:active {
	
}
/* Dropdown Bg Color   */
.topbar .sf-menu ul {
	
}
/* Dropdown Link Color   */
.topbar .sf-menu ul a {
	
}
/* Dropdown Link Hover Color   */
.topbar .sf-menu ul a:hover {
	
}
/* Dropdown Hover BG Color   */
.topbar .sf-menu li li:hover, 
.topbar .sf-menu li li.sfHover {
	
}
/* Dropdown Border Color   */
.topbar .sf-menu li li {
	
}
/*-------------------------------------------------*/
/* S E C O N D A R Y   M E N U                     */
/*-------------------------------------------------*/
.mainmenu ul.sf-menu a {
	     
}
/* Link Hover Color   */
.mainmenu .sf-menu li:hover, 
.mainmenu .sf-menu li.sfHover,
.mainmenu .sf-menu a:focus, 
.mainmenu .sf-menu a:hover, 
.mainmenu .sf-menu a:active {
	
}
/* Dropdown Bg Color   */
.mainmenu .sf-menu ul {
	
}
/* Dropdown Link Color   */
.mainmenu .sf-menu ul a {
	
}
/* Dropdown Link Hover Color   */
.mainmenu .sf-menu ul a:hover {
	
}
/* Dropdown Hover BG Color   */
.mainmenu .sf-menu li li:hover, 
.mainmenu .sf-menu li li.sfHover {
	
}
/* Dropdown Border Color   */
.mainmenu .sf-menu li ul {
	
}
/* Dropdown Border Color   */
.mainmenu .sf-menu li li {
	
}
/*-------------------------------------------------*/
/* --- H1 --- */
h1 {
	font-family:Lemon; font-size:18px;   font-style:bold; font-variant:inherit;
}
/* --- H2 --- */
h2 {
	font-family:Arial;     
}
/* --- H3 --- */
h3 {
	font-family:Federo; font-size:14px; color:#5fc3ce;  font-style:bold; 
}
/* --- H4 --- */
h4 {
	font-family:Amaranth; font-size:25px; color:#d70000;  font-style:bold italic; font-variant:normal;
}
/* --- H5 --- */
h5 {
	font-family:Open Sans;     
}
/* --- H6 --- */
h6 {
	font-family:Open Sans;     
}
/* --- Post Entry Title --- */
h2.entry-title a { 
	     
}
h2.entry-title a:hover { 
	
}
/* --- Widget Title --- */
.widget-title { 
	     
}

#footer .widget-title { 
	     
}

/*------------------------------*/
.pagemid { 
	
}
a,
.entry-title a { 
	color:#C90000;
}

a:hover,
.entry-title a:hover { 
	color:#2F4E65;
}
/*------------------------------*/
#subheader a { 
	
}
#subheader a:hover { 
	
}

#footer { 
	
	
}
.copyright { 
	
}

/*----------- Custom CSS -------------------*/


/*----------- END OF CSS -------------------*/